# 1. 클라우드 인증 키
bigquery_key.json

# 2. dbt 내부 로그 및 사용자 식별 파일
logs/
.user.yml
target/
dbt_packages/
.vscode

# 3. 개인 참고 및 테스트 문서
docs/
scripts/test.ipynb

# 4. 원천 및 전처리된 데이터
raw_data/*
!raw_data/.gitkeep
processed_data/*
!processed_data/.gitkeep